html
  head
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    form(method='post', action='/game')
      fieldset#heading
        h3 Welcome to game of battleship
        h2
        span Please enter your username: 
        input(name='username', type='text')
        input(type='submit')
